@using Medium_Assignment.Models

@{AuthDetails authDetails = (AuthDetails)Context.Session["AuthDetails"];}

@{
    ViewBag.Title = "Index";
}

<h2>Assigned Reviews</h2>


<table id="table" class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>
                Review Id
            </th>

            <th>
                Agenda
            </th>

            <th>
                Reviewer
            </th>

            <th>
                Employee
            </th>

            <th>
                Status
            </th>

            <th>
                Actions
            </th>


        </tr>
    </thead>


    <tbody>
    </tbody>


</table>

@section Scripts {
    <script>

        function getReviews() {
            return $.ajax({
                    type: "get",
                    url: "https://localhost:44357/api/reviews/assigned/",
                    datatype: "json",
                    traditional: "true",
                    headers: {"Authorization": '@("Bearer " + authDetails.AccessToken)'},

                    error: function (jqXHR, status, err) {
                        alert(jqXHR.responseJSON.ModelState[""]);

                        console.log(jqXHR.responseJSON);
                        console.log(jqXHR);
                        console.log(status);
                        console.log(err);
                        alert("Error getting data.");
                    }




                });

        }

        //function populateTable(reviews) {
        //    for (let i = 0; i < reviews.length; i++) {
        //        var element = "<tr>";
        //        var rev = reviews[i];

        //        element += "<td>" + rev.Id + "</td>";
        //        element += "<td>" + rev.Agenda + "</td>";


        //        if (rev.Reviewer) {
        //            element += "<td>" + rev.Reviewer + "</td>";

        //        } else {
        //            element += "<td>Unassigned</td>";


        //        }

        //        if (rev.Employee) {
        //            element += "<td>" + rev.Employee + "</td>";
        //        } else {
        //            element += "<td>Unassigned</td>";
        //        }

        //        element += "<td>"
        //        element += rev.ReviewStatus;
        //        element += "</td>"

        //        element += "<td>"

        //        if (rev.ReviewStatus == "Assigned") {

        //            element += "<a href= \"/Reviews/Submit/" + rev.Id + "\" class=\"btn btn-primary\" style=\"margin: 2px 2px 2px 2px;\" >Submit </a>";

        //        } 

        //        element += "</td>"


        //        element += "</tr>";

        //        $('#table > tbody').append(element);
        //    }

        //}


        function populateTable(table, reviews) {
            for (let i = 0; i < reviews.length; i++) {
                var rev = reviews[i];

                if (!rev.Reviewer) {
                    rev.Reviewer = "Unassigned";

                }

                if (!rev.Employee) {
                    rev.Employee = "Unassigned";
                }

                let buttons = "";

                if (rev.ReviewStatus == "Assigned") {

                    buttons += "<a href= \"/Reviews/Submit/" + rev.Id + "\" class=\"btn btn-primary\" style=\"margin: 2px 2px 2px 2px;\" >Submit </a>";

                }
                buttons += "<a href= \"/Reviews/Details/" + rev.Id + "\" class=\"btn btn-primary\" style=\"margin: 2px 2px 2px 2px;\" >Details </a>";

                table.row.add([rev.Id,
                rev.Agenda,
                rev.Reviewer,
                rev.Employee,
                rev.ReviewStatus,
                    buttons]);
            }

            table.draw();

        }

        function buttonHandlers() {
            $('.edit').click(function () {
                window.location.href = "https://localhost:44335/Employees/edit/" + $(this).val();
            });

            $('.details').click(function () {
                window.location.href = "https://localhost:44335/Employees/details/" + $(this).val();
            });

            $('.delete').click(function () {
                if (confirm("Are you sure you want to delete this employee record?")) {
                    deleteRequest($(this).val()).done(() => { window.location.reload(); });
                }
            });
        }

        $(document).ready(function () {
            let table = $("#table").DataTable();
            getReviews()
                .done((data) => { populateTable(table, data.Reviews);})
                .done(buttonHandlers);
        });
    </script>

}
