@using Medium_Assignment.Models

@{AuthDetails authDetails = (AuthDetails)Context.Session["AuthDetails"];}

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("New Review", "New", "Reviews", null, new { @class = "btn btn-primary" })
</p>

<table id="table" class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>
                Review Id
            </th>

            <th>
                Agenda
            </th>

            <th>
                Reviewer
            </th>

            <th>
                Employee
            </th>

            <th>
                Status
            </th>



        </tr>
    </thead>


    <tbody>
    </tbody>


</table>

@section Scripts {
    <script>

    function getReviews() {
        return $.ajax({
                type: "get",
                url: "https://localhost:44357/api/reviews/",
                datatype: "json",
                traditional: "true",
                headers: {"Authorization": '@("Bearer " + authDetails.AccessToken)'},

                error: function (jqXHR, status, err) {
                    alert(jqXHR.responseJSON.ModelState[""]);
                    debugger;
                    console.log(jqXHR.responseJSON);
                    console.log(jqXHR);
                    console.log(status);
                    console.log(err);
                    alert("Error getting data.");
                }




            });

    }

    function populateTable(reviews) {
        for (let i = 0; i < reviews.length; i++) {
            var element = "<tr>";
            var rev = reviews[i];

            element += "<td>" + rev.Id + "</td>";
            element += "<td>" + rev.Agenda + "</td>";
            element += "<td>" + rev.Reviewer + "</td>";
            element += "<td>" + rev.Employee + "</td>";
            element += "<td>" + rev.ReviewStatus + "</td>";

            element += "</tr>";

            $('#table > tbody').append(element);
        }

    }

    $(document).ready(function () {
        getReviews()
            .done((data) => { populateTable(data.Reviews);})
            .done(() => { $("#table").DataTable();});

        $(".delete").click(function (event) {
            if (!confirm("Are you sure you want to delete this organization?")) {
                event.preventDefault()
            }
        });
    });
    </script>

}
