
@{
    ViewBag.Title = "ChangePasswordConfirmation";
}

<h2>Change Password Confirmation</h2>

<p>
    Your password has been changed and you have been logged off. Please log in with your new credentials.
</p>